
<!-- <h1>StaticPages#home</h1>-->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>

<div class="page">
	<h1 class="title">Peck</h1>
	<h3 class="slogan">A language learning experience integrated with entertainment.</h3>

	<div class="clouds">
		<%= image_tag("layouts/cloud1.svg", class: "cloud", id: "cloud1", alt: "Cloud 1") %>
		<%= image_tag("layouts/cloud2.svg", class: "cloud", id: "cloud2", alt: "Cloud 2") %>
		<%= image_tag("layouts/cloud3.svg", class: "cloud", id: "cloud3", alt: "Cloud 3") %>
		<%= image_tag("layouts/cloud4.svg", class: "cloud", id: "cloud4", alt: "Cloud 4") %>
		<%= image_tag("layouts/cloud5.svg", class: "cloud", id: "cloud5", alt: "Cloud 5") %>
	</div>
	<center><%= image_tag("layouts/pond.svg", class: "pond", alt: "Pond") %>
	<br>

	<button class="pop description"><p class="button">Learn more</p></button>
	<button class="pop preview"><p class="button">See Peck</p></button>
	<button class="pop tryIt"><p class="button">Try it</p></button>
	<button class="pop orSignup"><p class="button">Sign up</p></button>

	</center>
</div>


<!--Clouds float in the background-->
	
<!-- <div class="content">
	<div class="section">
		<%= image_tag("layouts/duck1.svg", alt: "Duck1", width: "200px") %>
		<div id="section1-2">
			<h1 class="mainPeck">Peck</h1>
			<h3 id="subtitle">A language learning experience integrated with entertainment.</h3>
		</div>
	</div>

	<div class="section">
    	<div id="section2-1">
    		<p center class="description">
    			We match lessons to entertainment from the country of the language that you're learning. This way, you can internalize both the culture and the practical applications of a language.
    		</p>
    		<p class="description">
    			<b>Peck</b> seeks to provide you with a fun learning experience that comes closest to helping you thoroughly understand and become fluent in a language of your choice.
    		</p>
    		<p class="description" id="lastparagraph">
    			Right now, you can learn Japanese and Korean with <b>Peck</b>.
    		</p>
    	</div>

    	<div id="section2-2">
    		<img center-justified id="home2image" src="img/layout/duck2.svg">
    		<button id="getStarted"><%= link_to "Get started here", signup_path%></button>
    	</div>
    </div>

    <div class="section">
    	<h1 class="seePeck">See Peck in Action</h1>
	    	<h3 class="previewtitle">Lessons</h3>
		    	<center>
		    		<img class="preview" src="layout/comingsoon.svg">
		    		<img class="preview" src="layout/comingsoon.svg">
		    		<img class="preview" src="layout/comingsoon.svg">
		    		<img class="preview" src="layout/comingsoon.svg">
		    		<img class="preview last" src="layout/comingsoon.svg">
		    	</center>

	    	<h3 class="previewtitle">Entertainment</h3>
		    	<center>
		    		<img class="preview" src="layout/comingsoon.svg">
		    		<img class="preview" src="layout/comingsoon.svg">
		    		<img class="preview" src="layout/comingsoon.svg">
		    		<img class="preview" src="layout/comingsoon.svg">
		    		<img class="preview last" src="layout/comingsoon.svg">
		    	</center>

	    	<h3 class="previewtitle">Quizzes</h3>
		    	<center>
		    		<img class="preview" src="layout/comingsoon.svg">
		    		<img class="preview" src="layout/comingsoon.svg">
		    		<img class="preview" src="layout/comingsoon.svg">
		    		<img class="preview" src="layout/comingsoon.svg">
		    		<img class="preview last" src="layout/comingsoon.svg">
		    	</center>

	    	<h3 class="previewtitle">User areas</h3>
		    	<center>
		    		<img class="preview" src="layout/comingsoon.svg">
		    		<img class="preview" src="layout/comingsoon.svg">
		    		<img class="preview" src="layout/comingsoon.svg">
		    		<img class="preview" src="layout/comingsoon.svg">
		    		<img class="preview last" src="layout/comingsoon.svg">
		    	</center>

	    	<h3 class="previewtitle">Try out the first lesson</h3>
	    		<div id="jpn">
		    		<img id="jpnImg" src="img/KOR/countries/japan.svg">
		    		<button raised id="tryjpn">Japanese</button>
	    		</div>
	    		<div id="kor">
	    			<img id="korImg" src="img/KOR/countries/southkorea.svg">
	    			<button raised id="trykor">Korean</button>
	    		</div>
    </div>
</div>

 -->