<% provide(:title, "Log in") %>

<div class="container" id="loginbox">
	<div class="title indigo500">
		<h1>Log in</h1>
	</div>
	<div class="section">
		<%= form_for(:session, url: login_path) do |f| %>

		<br><br><center>
		<span class="labels">
			<b><%= f.label :username %></b><br><br>
			<b><%= f.label :password %></b><br>
			<%= link_to "Forgot password?", new_password_reset_path, class: "forgotit" %>
		</span>

		<span class="fields">
			<%= f.text_field :username, class: '' %><br><br>
			<%= f.password_field :password, class: '' %><br><br>
		</span>
		<br><br>

		<span class="remember">
			<%= f.label :remember_me do %>
			<%= f.check_box :remember_me %>
			<p class="checkbox">Remember me</p>
			<% end %>
		</span>
		<br><br>
		<%= f.submit "Log in", class: "button no", id: 'login1' %>
		<% end %>

		</center>
		
	</div>
</div>