<%= provide(:title, 'Sign up | Peck') %>
<div class="container" id="signup2">
	<div class="title lightgreen500">
		<h1>Sign up</h1>
	</div>
	<div class="section">
	<div class="row">
		<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages' %>

		<br><br><center>

		<span class="labels">
			<b><%= f.label :name %></b><br><br>
			<b><%= f.label :email %></b><br><br>
			<b><%= f.label :username %></b><br><br>
			<b><%= f.label :password %></b><br><br>
			<b><%= f.label :password_confirmation %></b><br><br>
		</span>

		<span class="fields">
			<%= f.text_field :name, class: 'form-control' %><br><br>
			<%= f.text_field :email, class: 'form-control' %><br><br>
			<%= f.text_field :username, class: 'form-control' %><br><br>
			<%= f.password_field :password, class: 'form-control' %><br><br>
			<%= f.password_field :password_confirmation, class: 'form-control' %><br><br>
		</span><br>

		<span class="remember">
			<p class="description">
				Your information won't be shared with anyone.
			</p>
		</span><br><br>

		<%= f.submit "Start learning", class: "button no", id: 'signup1' %>
		<% end %>
		</center>
	</div>
</div>