<!-- Test page to see if can access lessons_lesson -->
<%= provide(:title, @lesson.title) %>
<h1>Lesson: <%= @lesson.title %></h1>
<%= @words.find_each do |w| %>
<%= w.word%>
<% end %>

<!--lesson_slide GET    /lessons/:lesson_id/slides/:id(.:format)      slides#show-->
<%= @slides.find_each do |slide| %>
<li>page: <%= link_to slide.id ,lesson_slide_path(@lesson.id, slide.id) %></li>
<% end %>

