<%= provide(:title, 'Sign up | Peck') %>

<div class="container" id="signup">
	<div class="title lightgreen500">
		<h1>Sign up</h1>
	</div>
	<div class="section">
		<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages' %>
		<p>
			Provide your details to unlock your learning experience. Your information won't be shared with anyone.
			<br>
		</p>
		<span class="labels">
			<b><%= f.label :name %></b><br><br>
			<b><%= f.label :email %></b><br><br>
			<b><%= f.label :username %></b><br><br>
			<b><%= f.label :password %></b><br><br>
			<b><%= f.label :password_confirmation %>:</b>		

		</span>
		<span class="fields">
			<%= f.text_field :name, class: 'form-control' %><br><br>
			<%= f.text_field :email, class: 'form-control' %><br><br>
			<%= f.text_field :username, class: 'form-control' %><br><br>
			<%= f.password_field :password, class: 'form-control' %><br><br>
			<%= f.password_field :password_confirmation, class: 'form-control' %>
		</span><br><br>

		<%= f.submit "Start learning Korean", id: 'submit' %>
		<% end %>
	</div>
</div>

# <%= form_for(@user) do |f| %>
# <%= render 'shared/error_messages' %>

# <%= f.label :name %>
# <%= f.text_field :name, class: 'form-control' %>

# <%= f.label :email %>
# <%= f.text_field :email, class: 'form-control' %>

# <%= f.label :username %>
# <%= f.text_field :username, class: 'form-control' %>

# <%= f.label :password %>
# <%= f.password_field :password, class: 'form-control' %>

# <%= f.label :password_confirmation %>
# <%= f.password_field :password_confirmation, class: 'form-control' %>

# <%= f.submit "Start learning Korean", class: "" %>
# <% end %>