<%= provide(:title, 'Sign up | Peck') %>

<div class="container" id="signup">
	<div class="heading lightgreen500">
		<h1>Sign uped</h1>
	</div>
	<div class="section">
		<p>
			Provide your details to unlock your learning experience. Your information won't be shared with anyone.
			<br>
		</p>
		<span class="labels">
			<b>Name:</b><br><br>
			<b>Email:</b><br><br>
			<b>Username:</b><br><br>
			<b>Password:</b><br><br>
		</span>
		<span class="fields">
			<input><br><br>
			<input><br><br>
			<input><br><br>
			<input><br><br>
		</span><br><br>
		<button id="submit">Start learning Korean</button>
	</div>
</div>

<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>

<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>

<%= f.label :email %>
<%= f.text_field :email, class: 'form-control' %>

<%= f.label :username %>
<%= f.text_field :username, class: 'form-control' %>

<%= f.label :password %>
<%= f.password_field :password, class: 'form-control' %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation, class: 'form-control' %>

<%= f.submit "Start learning Korean", class: "" %>
<% end %>