<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<% if logged_in? %>
			<paper-icon-button id="navicon" icon="menu"></paper-icon-button>
			<div><h3><%= link_to "Peck", root_path, id: "logo" %></h3></div>
			<span flex></span>
			<button class="logOut"><%= link_to "Log out", logout_path, method: "delete" %></button>
			<button class="userProfile"><%= link_to "Profile", current_user %></button>
			<paper-icon-button id="account" icon="account-circle"></paper-icon-button>
			<div id="progressBar" class="bottom fit"></div>

		<% else %>
			<div><h3><%= link_to "Peck", root_path, id: "logo" %></h3></div>
			<span flex></span>
			<button class="signUp"><%= link_to "Sign up", signup_path %></button>
			<button class="logIn">Log in</button>
			<div id="progressBar" class="bottom fit"></div>

			<div class="loginbox">
		    	<h4 class="login">Log in</h4>
		    		<%= form_for(:session, url: login_path) do |f| %>

		    		<%= f.label :username %>
					<%= f.text_field :username, class: 'form-control' %>

					<%= f.label :password %>
					<%= link_to "(forgot password)", new_password_reset_path %>
					<%= f.password_field :password, class: 'form-control' %>

					<%= f.label :remember_me, class: "checkbox inline" do %>
					<%= f.check_box :remember_me %>
					<span>Remember me</span>

					<% end %>

					<%= f.submit "Log in", class: "btn btn-promary" %>
					<% end %>
		    </div>

		<% end %>
	</div>
</header>